[2017-10-27 18:50] schollz opened #2 "Gif"
![1](https://user-images.githubusercontent.com/6550035/32120326-5f420d42-bb15-11e7-89d4-c502864e78eb.gif)

[2017-10-27 18:51] #2 closed

[2017-11-02 18:39] amoghe opened #4 "Add this to 'awesome go'"
Consider adding this to https://github.com/avelino/awesome-go (under "Advanced Console UIs")

[2017-11-03 10:31] schollz commented on #4
Done, thanks!

https://github.com/avelino/awesome-go/pull/1663

[2017-11-03 10:31] #4 closed

[2017-11-07 19:32] Kiura opened #5 "Cannot push to the repo (for a pull request)"
[code]

Sorry I am new to git cli, could you help me out here?

[2017-11-07 19:34] schollz commented on #5
@Kiura I don't think you can do pull requests from git cli, but you can to do this via Github. You can first Fork the repo (the button in the upper right). Make the changes to your version. Then you can make a pull request from your repo directly from the web.

[2017-11-07 20:19] Kiura commented on #5
Thx for quick reply.
Thought I would add simple themes customizability. Added 10 "themes".
![image](https://user-images.githubusercontent.com/5522096/32515584-b1f9000e-c411-11e7-8011-5da3eea1a50b.png)
Do you think it would be useful?

[2017-11-07 20:44] brianvoe opened #6 "Multi Line"
Will this do multi line outputs?

If so you may want to add that to the docs.

[2017-11-07 22:03] schollz commented on #6
Sorry no it does not and I don't plan to because it's very hard to do it in
an OS agnostic way

On Nov 7, 2017 1:44 PM, "Brian Voelker" <notifications@github.com> wrote:

[2017-11-07 22:34] schollz commented on #5
Yeah! Please submit a PR if you'd like

[2017-11-09 07:58] vmarkovtsev opened #7 "Feature request: configurable output stream"
Currrently, `ProgressBar.w` is private and there is no ability to switch it from stdout to stderr, for example. I suggest to add a function to change it.

[2017-11-09 08:10] #5 closed

[2017-11-10 08:19] schollz commented on #7
@vmarkovtsev Sure, I will add that!

[2018-01-25 03:42] rjzak opened #11 "Display on StdErr"
It would be nice if the progress bar would show on `os.StdErr.` My app has a lot of output which I want to redirect to a file, but still see the state of the progress bar.

[2018-01-29 13:10] schollz commented on #7
@vmarkovtsev Sorry it took so long, I added it in: https://github.com/schollz/progressbar/commit/974cb689449efab91db63a32d8a269bd972d7032

[2018-01-29 13:10] #7 closed

[2018-01-29 13:11] schollz commented on #11
Done! https://github.com/schollz/progressbar/commit/974cb689449efab91db63a32d8a269bd972d7032

You can just use `.SetWriter(os.Stderr)`

[2018-01-29 13:11] #11 closed

[2018-01-29 13:20] vmarkovtsev commented on #7
Awesome, thank you so much!

[2018-05-08 11:19] Dynom opened #12 "Offer an initial view"
Currently the progress bar renders itself once progression is added. However for lengty processes, it can take a while (in my case minutes) before anything shows. This isn't very user friendly and instead I would like the progress bar to render with a 0% state instead, giving some feedback that "it works".

[2018-05-08 20:52] schollz commented on #12
@Dynom Sounds great, please submit a PR!

[2018-05-23 05:42] #12 closed

[2018-06-24 13:13] schollz opened #18 "Add Finish() to set the bar to max"

[2018-10-09 12:56] JakeHL commented on #18
I just went in to fix this and have seen that you've already done it. This can be closed now 👍

[2018-10-09 14:17] schollz commented on #18
@JakeHL thanks

[2018-10-09 14:17] #18 closed

[2018-10-10 08:36] JakeHL commented on #18
No problem. Your fix was really elegant too - calling Add(0). Way simpler than the implementation I was planning on!

[2019-01-29 14:35] fopina opened #23 "int64 for maxbytes"
Anything against having `int64` for maxBytes, currentNum and so on?
If we're processing a file, and we're using a progressbar, it's likely it's a huge file :)

`int` will do in 64bit OS, but not in 32bit one (such as raspbian)

[2019-01-30 15:23] schollz commented on #23
@fopina Its a great idea. It'd either have to be a breaking change to the API, or it could be implemented as `New64(X)` and `New64Options(X...)`. What do you think?

[2019-01-30 15:54] fopina commented on #23
Exactly, that's what I started doing here https://github.com/fopina/progressbar/commit/ebadca8d93b9aa60089d1b8f6840dae95aecd25b and then noticed it'd break the API, so wasn't sure about the preferred route.

I'd say no breaking changes are always better indeed

[2019-01-30 15:59] schollz commented on #23
Yeah, me too. I guess its fine to use int64 under the hood and have all the public APIs have the Y() and Y64() functions

[2019-01-30 16:31] fopina commented on #23
I guess forcing 32bit systems to perform 64bit operations is not an issue as all those `float64` were already there. And it's a GUI thing, so few cycles should be done on those :)

Want a PR?

[2019-01-30 16:47] schollz commented on #23
@fopina Yes, thanks!

[2019-01-30 17:37] #23 closed

[2019-02-12 14:07] bjoas opened #25 "Wrong import in example file"
Now it tries to import
[code]
which fails, is suppose the '/v2' part should simply be removed

[2019-02-12 15:28] schollz commented on #25
Are you using go 1.11+?

[2019-02-12 16:28] bjoas commented on #25
Aright, I was using go 1.10 but now with 1.11 it does work :)

[2019-02-12 18:28] #25 closed

[2019-02-27 22:25] schollz opened #26 "Print newline on finish?"
When the progressbar reaches the maximum for the first time, maybe it can emit a new line?

[2019-03-08 23:38] calamera opened #27 "Feature request: unknown length (e.g. network io)"
most IO progress implementations seem to only allow for a known fixed length denominator.  in the case where the operation is for instance an HTTP POST, the total length/duration is not known and there doesn't seem to be a way to easily tie into the network layer to do a 'better' job. to satisfy this use case it would be great to have the progress bar simply ping back and forth, ping pong style, u

[2019-03-11 14:15] schollz commented on #27
@calamera This is a great idea. I think -1 might be good, or possibly a flag like `progressbar.OptionIgnoreLength`

[2019-03-30 02:23] fat0troll opened #28 "Confusing README"
The README have functions, defined in ``v2`` of library, but

[code]

installs v1, so README examples are broken. The right way to install library is ``go get -u github.com/schollz/progressbar/v2``.

[2019-03-30 03:25] schollz commented on #28
Oh thanks! I didn't realize that you could do that with Go modules...

[2019-03-30 03:25] #28 closed

[2019-03-30 03:30] fat0troll opened #29 "Feature request: add function to remove progressbar after 100%"
Sometimes progress bar isn't the last thing in application output (and when it comes to 100% it might be good idea to replace the progress bar with something like "Operation finished, moving to next step". For this "replacement" a function that will erase progress bar from stdout may be useful.

[2019-03-30 13:59] schollz commented on #29
@fat0troll I agree, and I wanted to something like this for #26.

I implemented something that works: https://github.com/schollz/progressbar/commit/d79a115c6f4a440a75c3e7c79901f6e1e8478a48

However, I'm having trouble deciding whether it should be default behavior or a switch behavior.

What do you think?

[2019-03-31 23:41] fat0troll commented on #29
I think this should be opt-in via ``Options``, because in most cases library users will be confused if progress bar will disappear without notice.

[2019-04-01 14:12] #29 closed

[2019-04-01 14:12] #26 closed

[2019-04-05 23:34] andresvia opened #31 "I feel like New64 should exist"
I'm using instead: `progressbar.NewOptions64(itemCount)`.

[2019-05-13 23:17] schollz commented on #27
Yes, this would be useful for a `pv` port too:

[code]

[2019-05-15 07:47] satheshshiva commented on #6
If this is mentioned in the readme, it will be greatly helpful

[2019-05-15 15:39] #6 closed

[2019-05-15 15:53] #31 closed

[2019-06-03 19:09] schollz opened #33 "Recalculate the time left for long running processes"

[2019-06-08 04:34] #33 closed

[2019-06-17 11:56] yash-fb opened #35 "Error with progress bar"
After running the "make install" it's showing the following error:-

go generate ./templates
go: creating new go.mod: module github.com/blocklayerhq/chainkit
go: copying requirements from Gopkg.lock
go: github.com/schollz/progressbar@v0.0.0-20181015021007-174fa38cf3c3: go.mod has post-v0 module path "github.com/schollz/progressbar/v2" at revision 174fa38cf3c3
go: error loading module requirements

[2019-06-17 16:02] schollz commented on #35
I think this is a Go modules issue - that repo chainkit is using v2.6.0 but it is locked using Gopkg, so it is imported as github.com/schollz/progressbar and not github.com/schollz/progressbar/v2.

I don't think I can help, better make an issue in their repo.

[2019-06-17 16:02] #35 closed

[2019-06-19 07:33] yash-fb commented on #35
okay, cool the issue was solved I changed to change "github.com/schollz/progressbar"  in the import of some files to "github.com/schollz/progressbar/v2" for some files. Thank you.

[2019-06-25 09:11] amlwwalker opened #36 "custom io.Writer output"
Hey,
this is a nice little library :)
I am trying to implement my own io.Writer to output to. Eventually I want to output the progress bar to a logging area I have put together in a terminal UI using [this library](https://github.com/jroimartin/gocui) however as a test case I have put together this:

[code]

The above seems to compile fine, but I don't see the progress bar on the terminal. Eventua

[2019-06-25 09:13] amlwwalker commented on #36
Oh, woops.
My type assertion to an io.Writer is failing.... Not sure why, but need to look into that!

[2019-06-25 09:13] #36 closed

[2019-06-27 04:22] lkzz opened #37 "go mod download error"
go: finding github.com/schollz/progressbar v0.0.0-20190307141100-7e454dc2feed
go: github.com/schollz/progressbar@v0.0.0-20190307141100-7e454dc2feed: unexpected status (https://goproxy.cn/github.com/schollz/progressbar/@v/v0.0.0-20190307141100-7e454dc2feed.info): 500 Internal Server Error
go: error loading module requirements

[2019-06-28 16:04] schollz commented on #37
Can you give more context? What's your `go env`, what command did you do to get this? Is this reproducible?

[2019-06-30 12:55] #37 closed

[2019-07-14 01:59] nektro opened #39 "Multiple progress bars at once"
Or would this unfortunately fall under #6 and multi-line in-compatibility?

[2019-07-14 02:24] nektro opened #40 "Be able to dynamically update the max value"

[2019-07-14 03:12] nektro opened #41 "Option to show current/max count instead of time prediction on the right of bar"

[2019-07-14 03:28] schollz commented on #39
Yes, unless you know a way of doing it that works in Windows? That would be great!

[2019-07-14 03:30] schollz commented on #40
Hi @nektro I don't plan on implementing this or #41 but I would encourage you or anyone else to do so! I will happily merge a PR for this or the other.

[2019-07-14 03:39] MrMe42 commented on #40
I will try to implement it. Let you know how to goes!

[2019-07-14 03:46] schollz commented on #40
@MrMe42 Cool! Take your time, let me know if you have any questions and I can help

[2019-07-14 04:19] MrMe42 commented on #40
It has been added. I have put in a pull request.

[2019-07-14 04:20] MrMe42 commented on #41
Working on it.

[2019-07-14 14:47] MrMe42 commented on #27
I will try to add it.

[2019-07-14 16:10] MrMe42 commented on #39
Just for anyone who is thinking about implementing this, you can do this easily in a OS agnostic way. Store the bars in a slice and loop over them at render time.

[2019-07-14 17:12] nektro commented on #39
But for the display I was more thinking
[code]
which requires multiple line functionality. Would this still be possible with slices?

[2019-07-17 20:28] nektro commented on #39
The program `rclone` is able to achieve multi line overwrites and is cross platform. The applicable code is here https://github.com/ncw/rclone/blob/master/cmd/progress.go#L73. I'm unsure at this time how transferable the code would be to `progressbar`.

[2019-07-21 07:00] nektro commented on #39
![image](https://user-images.githubusercontent.com/5464072/61588098-7421e080-ab63-11e9-99f6-0557cd35a871.png)
Another example, last one, this is `docker pull`

[2019-09-27 17:46] tehstun commented on #41
Done as per #42 ping @schollz close?

[2019-09-27 17:46] tehstun commented on #40
Done as per #42 ping @schollz close?

[2019-09-27 17:48] schollz commented on #41
Yep! Thanks @nektro @MrMe42 @tehstun

[2019-09-27 17:48] #41 closed

[2019-09-27 17:51] schollz commented on #40
https://github.com/schollz/progressbar/commit/d5ebcf81bbaa0e6e21ff71d3efc03b81ed321e6f

[2019-09-27 17:51] #40 closed

[2019-10-04 15:31] dongjunn opened #46 "Cannot find package error Go version 1.13"
Hi thanks for the package, I've run into a problem with the installation, same error as the others listed in https://github.com/schollz/croc/issues/110.

Stack Trace:
[code]
[code]
However I'm running go 1.13. Is the only current solution using ?`env:GO111MODULE=`

[2019-10-04 16:04] schollz commented on #46
@dongjunn You need to enable `GO111MODULE`. The `/v2` requires modules. Modules are only active if you are in an active Git repo directory that uses modules or if you manually toggle it:

[code]

[2019-10-04 16:04] #46 closed

[2019-10-21 15:10] rentziass commented on #27
Is anyone still working on this?

[2019-10-21 17:22] schollz commented on #27
@rentziass I don't think so.

[2019-12-05 14:40] pioz commented on #26
How to achieve this behavior? I've seen the option `OptionClearOnFinish`, but I don't want to clear the bar, just print a new line.

[2020-02-12 11:03] D1CED opened #49 "Names of examples erroneous"
Go vet shows the following errors:

[code]
For example `ExampleProgressBarSet` should be called `ExampleProgressBar_Set` to be detected properly as an example for the `Set` method. For more info see https://blog.golang.org/examples.

Additionally I'd suggest using the `ioutil.TempFile` function instead of explicitly creating a named file in TestReaderToFile and TestReaderToBuffer. TestReaderToBuff

[2020-02-12 15:28] schollz commented on #49
Thanks. Please feel free to make PR!

[2020-02-12 21:43] #49 closed

[2020-03-31 20:07] #27 closed

[2020-04-09 08:09] ikonkere opened #54 "OptionShowCount incorrectly renders with items below 1%"
Currently, if a bar is created with maximum number of items `X` and then updated (`.Add(i)`) with `i` that is significantly lower than 1% of `X` (e.g. 0.1%), then the item count shown to the right of the bar (`(n/X)`) will only update when it has accumulated to a whole percentage value (e.g. 1%, 2%) and so on. When you have a lot of items in between, it looks really weird.

It is possible to intro

[2020-04-09 14:36] schollz commented on #54
Yeah, a fractional percentage is a great idea. I'll happily take a PR for this

[2020-04-09 21:04] schollz commented on #54
Started it https://github.com/schollz/progressbar/commit/ce5fc5d56329a17ed42691dd73cf528181973491

[2020-04-09 21:04] ikonkere commented on #54
Well, if you don't mind my whole 3 days' familiarity with golang ;) i can surely patch https://github.com/schollz/progressbar/blob/77e36af96b3b84fb70cf61a52be3e331da5f994c/progressbar.go#L317 to introduce a `forceRender` flag that will invalidate the bar every time an `Add` is performed.

Besides, there's also a related bug: `config.maxBytes` isn't used anywhere, but checked for during invalidatio

[2020-04-09 21:05] ikonkere commented on #54
Oops, you started the PR while i've been typing my comment on how to do it :)

[2020-04-09 21:48] schollz commented on #54
Okay cool! If you'd like, I would love if you submit a patch as a PR. The decimals can come later (it will require fixing a lot of tests). Don't worry that you only have 3 days familiarity with Go :) I will be available to assist or answer any questions or anything else! Please don't hesitate to ask. Welcome to Go!

[2020-04-09 21:53] ikonkere commented on #54
Cool, it's quarantine anyway and i've got nothing better to do :). But i mean are you okay with what i'm proposing: `forceRender` flag exposed through an `Option` and added to quoted lines 317 or 325?

[2020-04-09 21:57] schollz commented on #54
@ikonkere That seems fine to me! If you want to, you can also make a test that shows your problem so that I don't accidentally introduce something in the future that causes it again :) No worries if you don't want to.

[2020-04-10 17:29] ikonkere commented on #54
Ok, made a PR: https://github.com/schollz/progressbar/pull/55. I actually wanted to totally rework how rendering is done (you can see here if you want https://github.com/ikonkere/progressbar/tree/invalidate), but making async CLI UI components in Go turned out way harder than i expected ;).

[2020-04-10 19:23] schollz commented on #54
Your PR looks good. I'll check it out soon for merge (I think its just fine!).

As for async rendering, I was actually trying to avoid it here. There are reasons you might want to do it, so please fork away (I would add a ticker to yours if I were you to avoid high CPU)! But for this project I'm trying to keep a progressbar that is essentially a state machine, where it only updates once it has som

[2020-04-10 21:06] ikonkere commented on #54
Yeah, asynch rendering kinda contradicts "simple", so i stashed the change within my fork for now, to think it over, but it's a good, although harsh way to get into a programming language :).

[2020-04-11 14:12] cipriancraciun opened #56 "Use by default `os.StdErr` for output"
I know that with #11 support for specifying the output stream was added, and thus it is technically possible to use `os.StdErr`.

However given that such a library is most useful in CLI tools and filters (like `sed`, `grep`, etc.) that are part of a pipeline, having status printed on `os.StdOut` by default would take many (at least in the *NIX) world by surprise.

For example today I've tried inte

[2020-04-11 14:13] cipriancraciun commented on #56
Or, if `os.StdErr` isn't made the default, at least detect if the `os.StdOut` is actually a TTY, else don't output anything.

[2020-04-11 14:16] cipriancraciun commented on #40
Is updating the `maximum` available via the public API?  (I didn't find it in v3.)

[2020-04-11 14:34] schollz commented on #40
@cipriancraciun Yes it was removed in v3.

[2020-04-11 14:36] cipriancraciun commented on #40
So the answer is *no* (i.e. no, it is not possible to update the maximum).  :)

Why is that?  For example I want to use the progress bar, but I don't know before hand how many items I have, as I go through existing ones, I discover new ones.  (This is especially true for recursive structures, like the file-system.)

[2020-04-11 14:37] schollz commented on #56
@cipriancraciun Thanks. I'll leave this open and let people post reactions so I can gauge how others view this. Personally I like going to stdout.

[2020-04-11 14:38] cipriancraciun commented on #40
(Granted, I could set `max` to something like `2^32` and then compute the current value as proportional to that max and the actual max.  But it's a strange solution.)

[2020-04-11 14:59] schollz commented on #40
@cipriancraciun Not sure why it was removed, just added back.

[2020-04-11 15:01] cipriancraciun commented on #40
BTW, if we're on this subject.

Sometimes, again especially in recursive functions, knowing the actual "total" requires some extra bookkeeping.  Therefore (again sometimes) it would be extra useful to have a function that increments the total.  (Because the progress bar already knows it's current maximum it is trivial.  But adding the extra arguments to the recursive function, besides the context

[2020-04-11 15:20] schollz commented on #40
You could do

[code]

I'm resistant to adding API for that because I'm not sure how to call it. Having Add and AddMax is kinda confusing.

[2020-04-11 15:21] cipriancraciun commented on #40
OK, there is `GetMax`.  (I didn't saw that.)

It's OK.

[2020-04-11 15:22] cipriancraciun commented on #40
Although, there is the possibility of a race-condition there between when I call `GetMax` and `ChangeMax`.  Perhaps an extra argument to `ChangeMax` which would indicate incrementing instead of replacing?

[2020-04-11 19:11] #54 closed

[2020-04-25 10:08] mhewedy opened #57 "Do you support indeterminate progress bar?"
I have a case where I want to show a progress but I have no knowledge when the task will finish.

[2020-04-25 14:19] schollz commented on #57
Yes, it is supported now. You can do

	bar = progressbar.NewOptions(-1,
		progressbar.OptionShowIts(),
	)

[2020-04-27 21:50] mhewedy commented on #57
I've tried:
[code]
then I got weired blinking curser

[2020-04-30 22:33] schollz commented on #57
I just changed this behavior for 3.2.0. Since an indeterminate bar is just a spinner, I made it a spinner.

[code]

[2020-04-30 22:45] mhewedy commented on #57
I Love it ... specially spinner types

[2020-05-01 17:54] #57 closed

[2020-05-01 23:48] schollz opened #60 "V4 simplify api"
Better defaults for bytes / reg bar

New

[2020-05-02 18:41] #60 closed

[2020-05-02 18:42] schollz commented on #56
As of v3.3 the `stderr` is default for the `Default()` and `DefaultBytes()` functions

[2020-05-02 18:42] #56 closed

[2020-05-02 20:07] james-antill opened #61 "Should use runewidth"
This line:

https://github.com/schollz/progressbar/blob/e234529f6673a52784e1df502379365625f80f7f/progressbar.go#L661

Should be something like:

    "github.com/mattn/go-runewidth"
    ...
    stringWidth := runewidth.StringWidth(cleanString)

[2020-05-03 00:55] schollz commented on #61
Thanks, I made a branch for it.

I'm not really familiar with that package, is it more advantageous because it supports different operating systems better?

[2020-05-03 01:17] james-antill commented on #61
Different runes have different width's, some double, some half width, some empty (Eg. "[combining  characters](https://en.wikipedia.org/wiki/Combining_character)") ... the above package tries to work out what the width should be.

[2020-05-04 03:36] makeworld-the-better-one commented on #26
Just adding `fmt.Println()` afterward works for me. Add it before too, if you don't want the progress bar to overwrite the current line.

[2020-05-05 19:32] makeworld-the-better-one commented on #46
Could you put this in the README? The current install command fails because this wasn't enabled.

[2020-05-09 11:20] mhewedy opened #63 "Spinners not rendered correctly on windows"
Related to #57

I testing spinners on windows:
AWS => Microsoft Windows Server 2019 Base - ami-0c278895328cddfdd

However, it shown like:
![Screen Shot 2020-05-09 at 2 11 55 PM](https://user-images.githubusercontent.com/1086049/81472293-ab9b6f80-91ff-11ea-9e86-760b701ab811.png)

Same code works fine on macOS (check https://asciinema.org/a/327940?speed=2&autoplay=1&cols=150&rows=35&size=medium&loop

[2020-05-10 12:43] schollz commented on #63
I think this is a Windows problem, try this fix: https://stackoverflow.com/questions/52937816/how-to-print-utf-8-or-unicode-characters-in-go-golang-on-windows

[2020-05-11 12:45] Bird87ZA opened #64 "Progressbar in docker container"
Not so much a bug as a request to see if someone can assist.

I have the progress bar in my app. If I run my app using `go run main.go` it works fine.  However, if I run `docker-container up --build` it doesn't show the progress bar until it reaches 100%.

Does anyone know how what I should change to make it show the progress bar?

[2020-05-11 13:27] schollz commented on #64
@Bird87ZA Do you have a minimal example you can share?

[2020-05-11 13:28] #61 closed

[2020-05-11 13:36] Bird87ZA commented on #64
This is how my docker is set up:

[code]

[code]

Then this is my `main.go` file:

[code]

If I run it with `go run main.go` it works perfectly.

If I run it with `docker-compose up --build` it doesn't show the progress bar until it's 100%.

[2020-05-12 16:27] schollz commented on #64
It might be a `docker-compose` thing. Have you tried in just docker, using [the TTY flag](https://stackoverflow.com/questions/50157129/terminal-progress-bars-not-displaying-in-the-docker-console)?

[2020-05-12 16:37] schollz commented on #64
I couldn't get your example to work, but this works fine:

[code]

Using your `main.go` in the same folder:

[code]

and it shows the progress.

[2020-05-12 21:02] ahmedselim2017 opened #65 "Cannot Install"
When I try to install using  ```λ › go get -u github.com/schollz/progressbar/v3``` I get this error:

[code]

[2020-05-12 21:14] schollz commented on #65
Try `GO111MODULE=on go get -u github.com/schollz/progressbar/v3`

[2020-05-12 21:41] ahmedselim2017 commented on #65
Thanks, it worked!

[2020-05-12 21:41] #65 closed

[2020-06-15 00:25] nektro opened #66 "cross-platform "full width" calculation"
https://pkg.go.dev/golang.org/x/crypto/ssh/terminal?tab=doc#GetSize

[2020-06-15 23:28] dnozay opened #67 "humanizeBytes 1000 vs 1024 base"
Is it possible to have an option to use 1024 as base for byte sizes?

[2020-07-07 08:34] doersa opened #68 "screen scrolling"
my progressbar init:
[code]
![2020-07-07 16 30 27](https://user-images.githubusercontent.com/6913871/86749002-7b414780-c06f-11ea-9393-724c4bc3784f.gif)
it starts scrolling.so what i can do?

[2020-07-10 18:02] makeworld-the-better-one opened #70 "Add IsFinished()"
Being able to know when the progessbar is finished would be very helpful. The `State()` func is not helpful when the max is set to -1, aka when we don't know when the progress bar will end.

[2020-07-15 16:29] schollz commented on #70
Great idea, will happily take a PR for this

[2020-08-04 02:14] voidint commented on #68
![image](https://user-images.githubusercontent.com/6327183/89245321-2aefe200-d63b-11ea-8332-e210fc460372.png)
delete this line

[2020-08-04 09:07] doersa commented on #68
if i delete this line,the progressbar is not full with width.if i want it full with width and not scrolling,could i have any way to do?

[2020-08-26 19:50] schollz commented on #67
done!

[2020-08-26 19:50] #67 closed

[2020-08-29 20:33] shogg opened #72 "suggestion: use the "exponentially weighted moving average" algorithm"
It's cheaper in computation and memory use. You only need memory for the average value, not the last n values.
And it's more flexible. You can specify an arbitrary large rolling window, not only the last 10 values as it is now.

I use this package for my own progressbar (not public):
https://github.com/VividCortex/ewma

The README.me nicely explains the algorithm.

[2020-09-01 14:50] andoks opened #73 "Readme specifies wrong value for unknown max (spinner)"
In readme, 0 is specified as value to give Default and DefaultBytes to create a spinner, but this should be -1 (this seems to be correct in the examples)

[2020-09-01 16:37] schollz commented on #73
Thanks!

[2020-09-01 16:37] #73 closed

[2020-09-04 04:50] MarvinJWendt commented on #66
I would really appreciate that.

Windows cmd inside IntelliJ IDEA
![image](https://user-images.githubusercontent.com/31022056/92200716-e003fd00-ee7a-11ea-9d48-c7de500a8caa.png)

[2020-09-09 05:20] huanght1997 commented on #68
I found what the real problem is: the block element █ is considered 2 characters wide, but in some terminals this element has only 1 character wide. While rendering, the program detects the max width of terminal, but this difference misleads the program, so it prints more and more spaces in clearProgressBar() (one more block element, one more space), which makes the screen scroll.

I use OptionSet

[2020-09-09 06:02] doersa commented on #68
I tri it again by your way,but it is scrolling when i change the window size.
I found something in clearProgressBar().
I use `str := "\r"` instead of `str := fmt.Sprintf("\r%s\r", strings.Repeat(" ", s.maxLineWidth))`, and all is well. But I don't know the reason. The below is my modified version.

func clearProgressBar(c config, s state) error {
	// fill the current line with enough spaces
	// to

[2020-09-09 08:03] huanght1997 commented on #68
I didn't try changing the window size.

I think the reason is, when fmt.Sprintf() is trying to print a line longer than the max width of terminal, some characters are in the second line, and the following \r character moves the cursor to the start of the second line, which means the characters in first line will not be overwritten, and the following characters are printed in the second line, and t

[2020-09-09 08:08] #68 closed

[2020-09-12 19:56] warrensbox commented on #26
This adds a new line when you are bar.Add(1) in multple go routines - you end up getting mutltiple bars

[2020-09-14 20:24] LanHikari22 opened #74 "Fix import path in examples"
Trying to compile using the import  "github.com/schollz/progressbar/v3" results in
main.go:4:2: cannot find package "github.com/schollz/progressbar/v3" in any of:
	/usr/lib/go/src/github.com/schollz/progressbar/v3 (from $GOROOT)
	/root/go/src/github.com/schollz/progressbar/v3 (from $GOPATH)

But it works when removing the v3 in the import: "github.com/schollz/progressbar"

[2020-09-14 20:25] schollz commented on #74
use `export GO111MODULE=on` if you are not using a go modules environment

[2020-09-17 19:05] LanHikari22 commented on #74
Thanks! Sorry for jumping the gun on a trivial issue!

[2020-09-17 19:05] #74 closed

[2020-09-28 22:14] vsekhar opened #75 "Option to leave progress bar visible after finished"
Option to leave progress bar onscreen when finished. Useful for seeing counts and rates after completing a run.

[2020-09-29 16:43] schollz commented on #75
Great! Would happily accept PR with this

[2020-09-30 10:47] lkarlslund opened #76 "Reader struct exported, but unusable due to unexported fields"
It looks like you've created a wrapper for the Reader interface, but it's impossible to use, as you can't declare it in external packages as it has the unexported field "bar":

![image](https://user-images.githubusercontent.com/8929787/94675962-ddca7c80-031a-11eb-9e76-9618f93ebc56.png)

The Reader is exported as:

![image](https://user-images.githubusercontent.com/8929787/94676023-f175e300-031a-11

[2020-09-30 18:43] ibraimgm commented on #75
Can I try this one for hacktoberfest?

[2020-09-30 18:46] schollz commented on #75
@ibraimgm of course!

[2020-10-01 11:12] haseth commented on #70
will work on this.

[2020-10-02 15:18] caycaycarly opened #78 "cannot import - help"
This is how I am trying to import it into my code :

[code]
And this is how I am running it
[code]

[code]

[code]

[2020-10-02 15:19] caycaycarly commented on #78
This is my `go env`

[code]

[2020-10-02 16:16] schollz commented on #78
So try doing `go mod init X` in that dir since you aren't in the gopath

[2020-10-02 16:22] #70 closed

[2020-10-04 00:15] ibraimgm commented on #75
@vsekhar can you giv me more details or a demo where I can better understand your problem? On all the demos, the progress bar remain visible after the run.

[2020-10-04 00:26] ibraimgm commented on #76
@lkarlslund @schollz

I'm guessing this is a mistake. AFAIK, a possible solution is to make `Reader private` and add a new function, `NewReader(io.Reader, *ProgressBar) io.Reader`. In this scenario, @lkarlslund would just use `NewReader` and proceed as expected. In this scenario, you couldn't access the `bar` from the returned `io.Reader` instance (IMHO, this isn't a problem).

Or, alternatively,

[2020-10-04 14:34] zweihander commented on #75
Wait, but...
https://github.com/schollz/progressbar/blob/2ec720b802af37dd2a1cadd64212e5d8777fad27/progressbar.go#L210

[2020-10-04 15:04] michaeltintiuc commented on #75
Confirming that `progressbar.Default(100)` keeps the progress bar visible on completion and the below hides it.
[code]

[2020-10-04 20:04] ibraimgm commented on #75
@vsekhar Does this solve your issue?

[2020-10-05 16:12] kaustubhcs opened #80 "Progress-bar to display status of FOR loop"
Want progress-bar to display the status of for loop.

[code]

[2020-10-05 16:23] vsekhar commented on #75
If my program logs after the bar finishes, then depending on the cursor and output stream (I use go-ansi), the bar either disappears or gets merged/garbled with the next log message.

I think the issue is a lack of newline once the bar finishes. I think you need something like

[code]

inserted [here](https://github.com/schollz/progressbar/blob/2ec720b802af37dd2a1cadd64212e5d8777fad27/progressbar.

[2020-10-09 17:32] #66 closed

[2020-10-10 18:28] jolheiser commented on #80
This seems like the first thing noted in [basic usage](https://github.com/schollz/progressbar#basic-usage), no?

[2020-10-12 21:22] kaustubhcs commented on #80
Thanks!

[2020-10-12 21:22] #80 closed

[2020-10-13 12:26] vidu171 commented on #75
Is this issue still open?. If it is can I pick it up?

[2020-10-13 17:57] schollz commented on #75
@vidu171 Its open, go ahead!

[2020-10-14 01:36] ViRb3 opened #81 "Throttle prevents initial RenderBlank from working"
If you create a new default bar and immediately try to `RenderBlank()`, nothing will render. To work around this:
[code]

Haven't tested, but I think the problem is the `p.state.lastShown` is set to `time.Now()` along with `p.config.throttleDuration` in:

[code]

Maybe set `lastShown` to 0?

[2020-10-14 04:25] vidu171 commented on #75
Hi, I am not able to replicate this issue my bar is still visible after and it doesn't get merged/garbled with the next log message.
Can you please tell me the steps or sample code to replicate this issue?

[2020-10-15 20:54] ViRb3 opened #83 "#79 breaks rendering on bars in GoLand terminal Windows 10"
This error happens every 9 out of 10 times, all renders error out with: `golang.org/x/sys/windows.ERROR_INVALID_HANDLE (6)`. I am using the default GoLand configuration, so it's a Command Prompt terminal.

Ref: #79

[2020-10-15 20:56] schollz commented on #83
@ViRb3 can you print the whole error? How does it happen (e.g. from go test)?

[2020-10-15 20:57] ViRb3 commented on #83
I'm using your library in my app, and after cherry picking the width PR, all `Add()` calls error out with the message above. There are no more details to it I'm afraid. As a consequence, no bar is ever rendered.

[2020-10-15 20:59] ViRb3 commented on #83
When I `log.Println()` the error, I get: `The handle is invalid.`

[2020-10-15 21:01] ViRb3 commented on #83
Here's the offending code:

![image](https://user-images.githubusercontent.com/2650170/96185517-aecf2000-0f42-11eb-9c23-a3b51356b790.png)

[2020-10-15 21:01] schollz commented on #83
@ViRb3 can you `git bisect` to find the offending commit?

[2020-10-15 21:01] ViRb3 commented on #83
Please check above.

[2020-10-15 21:05] schollz commented on #83
@ViRb3 how about a fix where instead of erroring, it just checks if there is an error and if so sets the width to some sane preset, like 70?

[2020-10-15 21:11] ViRb3 commented on #83
Ah, I opened this issue because I thought the old implementation was doing the same job successfully, didn't realize it just uses a constant 80 for Windows 😄 I'll send a PR that uses that constant in case of error f or all platforms?

[2020-10-15 21:43] #83 closed

[2020-10-23 14:45] #76 closed

[2020-10-23 14:45] #78 closed

[2020-10-23 14:46] #63 closed

[2020-10-25 20:23] ewen-lbh opened #86 "Add an option to put the description after the bar"
For my use case, I have a single progress bar that moves, but the description changes a lot more frequently, and putting that description _before_ the bar would result in a lot of unwanted movement for the bar itself. Is it possible to tell progressbar to render the description _after_ the bar?

[2020-10-26 09:34] Kirides commented on #81
i just stumbled across the same issue.

The initial handshake takes a bit ( ~3 seconds) and the bar will not display the blank bar until after the second write of the io.MultiWriter.

Changing getBasicState lastShown to a empty Time{} made it work.

[code]

[2020-10-26 11:51] Kirides opened #87 "Add a way to reduce flickering for ANSI code compatible environments"
Since there is no way to determine if a terminal (emulator) supports certain ansi escape codes, it would be nice to offer a "option" that would allow to use ANSI escape codes to reduce terminal writes to the required minimum

This would allow for a more flicker-free experience (atleast for windows users)
currently the progressbar flickers when used in the "Windows Terminal", or a conhost environme

[2020-10-26 15:18] schollz commented on #87
Interesting! Would welcome a PR for this!

[2020-10-28 17:53] schollz commented on #87
Added in v3.7.0!

[2020-10-28 17:53] #87 closed

[2020-11-04 11:45] IDNMAX opened #89 "How can I using the two progressbar in same time ?"
I am using two progressbar but it will in the same line and switch each other.

[2020-11-05 19:22] lukasmalkmus opened #90 "Spinner not working"
The spinner is not working for me. I try to use it when reading from `os.Stdin`:

[code]

The resulting progress bar doesn't "spin", there is just a static character. Also the `\n` is not appended after completion.

I'm running this in zsh on macOS.

[2021-01-29 15:36] gonejack commented on #39
This looks like https://github.com/gosuri/uiprogress but this library is kind of hard to use.

[2021-03-02 07:24] fangxlmr commented on #89
I found this progress bar the best to use, but mulit-line bars is not supported.
Just FYI. @IDNMAX

[2021-03-23 06:31] zc2638 opened #97 "Duplicate rendering of extra empty lines"
When revert 3e6b9bf007862f9acf97b7cdc2dc2c8f6683f110
Each time the progress bar is rendered, an empty line is added.
[code]

![image](https://user-images.githubusercontent.com/28284116/112103157-516f8700-8be4-11eb-995b-309703c1d78a.png)

[2021-03-23 06:31] zc2638 commented on #97
@schollz

[2021-03-23 19:22] schollz commented on #97
3e6b9bf didn't fix any particular problem I knew of and caused a new problem - that progressbars that are shorter than previous are not be cleared so you get things like `[0s:3s]s]` at the end...

but now I see you have a particular problem that you were trying to fix. I think the fix for that problem you are having is related to the calculation of the window width used with the `Default` function

[2021-03-24 05:53] zc2638 commented on #97
I found that the default progress bar symbol width is uncontrollable. Apart from replacing it, how to solve it?

[2021-03-24 16:22] schollz commented on #97
See my previous comment

[2021-03-26 09:24] zc2638 commented on #97
I haven't found a way to calculate the width of `█` symbol. Do you have any good solution？

When I set it like this, the performance is normal:
[code]

[2021-04-06 16:36] Nv7-GitHub opened #99 "How to change "it/s" to "f/s"?"
I am making a command-line video processing tool, and I am using this progressbar, and loving it! However, I want it to say "f/s" (frames per second) instead of "it/s". Am I just missing an option? Is it possible to change it to say "f/s" instead of "it/s"?

[2021-04-18 16:51] schollz commented on #99
Use `progressbar.OptionSetItsString()`

See here: https://github.com/schollz/progressbar/blob/9fa2cd9e6146995a8d8dce16f43eaade98109186/progressbar_test.go#L504-L521

[2021-04-18 16:52] schollz commented on #90
Does it work with the `download-unkown` example in this repo?

[2021-04-19 20:30] Nv7-GitHub commented on #99
Wow, how did I miss that? 🤦 Thanks!

[2021-04-19 22:54] #99 closed

[2021-04-22 10:37] T1MOXA opened #100 "maxHumanized not updating on ChangeMax"
https://github.com/schollz/progressbar/blob/master/progressbar.go#L547
https://github.com/schollz/progressbar/blob/master/progressbar.go#L286

[2021-04-22 11:03] T1MOXA commented on #39
That would be a cool feature

[2021-04-22 22:36] lukasmalkmus commented on #90
Yes, it works with the example. To verify again, I wrote this sample:

[code]

Ran after running your example: `cat go1.14.2.src.tar.gz | go run main.go > go1.14.2.src.tar`

And it works, too. I don't know if this was resolved by additional commits to the repository since I opened the issue or I made a mistake back in November. However, I can't remember what I did back then :)

Feel free to close

[2021-05-07 16:19] snipem commented on #100
Found out the same, max number is not rendered in the progress bar

[code]

[2021-05-11 06:46] jerblack commented on #36
FYI to anyone running into this later on. I experienced something similar. If you set a custom writer using progressbar.OptionSetWriter and set progressbar.OptionFullWidth, the progress bar is not visible. It doesn't look like this package is able to get the terminal width it needs to determine max string length if it's not using os.Stdout. Manually setting the width with progressbar.OptionSetWidt

[2021-06-21 23:34] paulhobbel opened #101 "Add support to also show spinner on non indeterminate"
Could it be possible to allow the spinner to show even when not setting the size on -1

[2021-06-22 18:54] schollz commented on #101
I'd accept a PR for this!

[2021-06-22 18:56] #90 closed

[2021-06-23 07:03] paulhobbel commented on #101
Alright working on it 👍

[2021-06-24 15:43] TCP404 opened #102 "Multiple blank lines in the result of executing the example"
I **ran** this two example
[code]
[code]
and I **got** many blank lines
[code]
[code]
This problem occurred on both Manjaro and Win10.

When I **modify** the `clearProgressBar()`
[code]
**to**
[code]
**Done!**
It's back to normal.
[code]

Now my problem was resolved. But I don't know whether it is a bug.

[2021-06-25 19:28] nileshpatra opened #103 "Failing test on non x86 architectures"
Hi @schollz

Thanks for your work on progressbar :)
However, while running tests on !x86 architectures, one of the test fails -- in particular this one:

[code]

On investigating further, it seems that the value of [rightBrac](https://github.com/schollz/progressbar/blob/master/progressbar.go#L732) is turning out to be negative. On further investigation, it is found that the value of the `averageRa

[2021-08-05 14:12] vikieQ opened #104 "How to set multiple progressBars"
if inscribe,I want to create more progressBars at the same time,how to implement?

[2021-08-15 14:04] tchajed opened #105 "Estimated time remaining does not take into account current iteration"
Re-rendering the bar in the middle of an iteration updates the time since start, but the time remaining doesn't take into account the current iteration.

Here's a [simple example video](https://asciinema.org/a/Ra8f84sP62Xu4Z9XJhhW2ADmU), and the code to generate it below. The rate is a constant 1 it/s, but progress comes in some large spurts. I have a goroutine rendering the bar regularly to keep

[2021-09-02 02:49] Andrew-M-C opened #106 "When reducing terminal size, bar will not remain in the same line in each rendering. Is it a bug?"
- Device: MacBook Pro 13-inch, 2020
- Terminal: build-in `Terminal` application
- Description:
  - After the width of terminal got thinner, the previous bar remain above (which is acceptable).
  - But the new bar kept starting new lines and re-render each progress, which may not be acceptable.
  - Please refer to attached screen capture file.

source test file content:

[code]

https://user-images

[2021-09-02 06:21] Tgentimc commented on #106
me too

[2021-09-03 17:01] schollz commented on #106
Will accept PR to fix this

[2021-09-18 18:31] l1ving opened #107 "Setting a custom spinner type breaks OptionClearOnFinish"
Title. Setting any spinner type manually will cause the bar not to clear

[2021-09-18 18:34] l1ving commented on #107
Actually, this might be a myb but I can't get the bar to clear at all now...

Code: https://github.com/l1ving/discord-emoji-extractor/blob/4a8646fd4d51929f00ea77cfc52b6839d6803ce8/main.go

[2021-09-18 18:52] l1ving opened #108 "Cannot get newline to print properly"
Issue pictured
![image](https://user-images.githubusercontent.com/17222512/133905561-72f556b9-ad79-42fd-b513-e09423e2c1e9.png)
Code:
[code]

I can't get the bar to properly add a newline afterwards for whatever reason.

[2021-09-18 18:54] l1ving commented on #108
This also happens when using `progressbar.DefaultBytes`

[2021-09-26 07:28] ramoncjs3 commented on #106
...Is this bug fixed so far?

[2021-09-29 00:13] flowchartsman opened #109 "`Describe()` should update the description immediately"
The user may wish to change the description of the progressbar before updating it (for example between entries), or they may wish to divide each update into a series of sub-steps that are informative, yet nonetheless don't update the progressbar, however calling `Describe()` will not update the description until after the next add, which is counter-intuitive and requires the user to look ahead in

[2021-09-29 00:14] flowchartsman commented on #109
Example:
This does not work:
[code]

This does:
[code]

[2021-10-06 12:20] alefesta commented on #108
Hi this way works for me:
[code]

where task is an int I do pass and msg is a string I use to create something like this:
![loader](https://user-images.githubusercontent.com/80312181/136200806-9c953b6f-abd5-41de-a7e2-ce0d83c69b79.JPG)

[2021-10-06 12:56] l1ving commented on #108
I'm unsure why my way would work differently, then

[2021-10-06 13:56] l1ving commented on #108
I see. In the case the `progressbar.DefaultBytes` is also broken, given that it's where I got Fprintf from. Can confirm that your solution works, thank you

[2021-10-06 19:08] #108 closed

[2021-10-09 02:54] Wsyspringsun opened #115 "need multiple and can use log.Println"
hard to find avaliable progressbar ,need multiple, print log.I don't know why Docker app progressbar can implement.

[2021-11-14 14:21] axetroy commented on #97
I also encountered this problem on macOS with version v3.8.3

[2021-11-17 02:09] oerlikon commented on #108
I'm afraid `progressbar.DefaultBytes` wasn't broken as it was (and is) setting os.Stderr as it's output destination and then writing the newline character to os.Stderr as well. Now you changed it to send newline to os.Stdout while outputting the progressbar itself to os.Stderr.

The problem was that the default output writer for the progress bar is os.Stdout if you don't specify it explicitly, and

[2021-11-29 10:12] reber0 commented on #97
same problem

[2021-12-20 16:10] #109 closed

[2022-01-14 09:09] zhao1911 commented on #102
I run into the same problem on win10. It works fine on macos.

[2022-03-07 05:16] hellojukay opened #118 "One more line break is rendered on the window terminal"
![screenshots](https://user-images.githubusercontent.com/10371891/156971961-a7eb9e72-cc16-40f1-8e83-c38605329e10.gif)

[code]
systeminfo
[code]

[2022-03-18 09:15] lchjczw commented on #118
@hellojukay has you resove the bug?

[2022-03-18 12:42] hellojukay commented on #118
@lchjczw
set ouput to stdout works for me, dot not use NewAnsiStdout, just use os.Stdout
[code]

[2022-03-18 16:25] lchjczw commented on #118
think you , i user https://github.com/vbauerster/mpb replace it

[2022-03-30 11:58] #118 closed

[2022-04-01 07:10] nsagnett opened #119 "Race condition with dynamic max"
Hello,

I perform a race condition when I try to setup a dynamic max (like get requests with pagination for example)

To reproduce:
[code]

After checking code, it seems missing mutex around progress bar max when ChangeMax64 called

Thanks!

[2022-04-04 09:54] nicoxiang commented on #102
Same to me on Win11 Windows  Terminal ( PowerShell ), fix it by set OptionUseANSICodes(true)

[2022-04-14 16:18] spolischook commented on #89
Man! This issue is pretty old but still not resolved...

[2022-04-14 16:44] schollz commented on #115
see #39

[2022-04-14 16:44] #115 closed

[2022-04-14 16:44] schollz commented on #104
see https://github.com/schollz/progressbar/issues/39

[2022-04-14 16:44] #104 closed

[2022-04-14 16:44] schollz commented on #89
see https://github.com/schollz/progressbar/issues/39

@spolischook, submit a PR to resolve it

[2022-04-14 16:44] #89 closed

[2022-04-14 16:46] schollz commented on #39
Hi all. I'm not going to personally implement this - I've never had a reason to use multiple bars. But I will accept any PR that does implement this.

[2022-04-14 16:46] schollz commented on #119
Could you submit a PR?

[2022-04-14 16:46] schollz commented on #105
Could you please submit a PR to fix?

[2022-04-14 16:47] schollz commented on #103
Can you submit a PR to fix?

[2022-04-14 18:37] spolischook commented on #89
Definitely will do, but first attempt to avoid to view more then one progress bar, has been resolved, so skipped for now.
Great library, I like it.
Thanks for you great job @schollz

[2022-04-22 13:43] enkeyz opened #120 "Using atomics instead of mutexes could improve performance"
Using atomics instead of mutexes can improve performance(just a small micro optimization). Also made a benchmark, so you can see the difference. I'd make a PR if interested @schollz

[code]

benchmark file:
[code]

benchmark result:
[code]

[2022-04-22 15:21] schollz commented on #120
Would love a PR ! Looks awesome

[2022-05-21 10:54] lizhifengones opened #121 "Even if max=-1, I want to see s.SecondsSince"
Even if max=-1, I want to see s.SecondsSince (total time), is there a way to customize it now?

[2022-07-04 06:02] jeyrce commented on #102
Same to me on macos 11 and centos7.5

[2022-07-19 15:48] bodgit commented on #108
I've just found this issue. Consider the following invocation of a Go program that uses `progressbar.DefaultBytes()` that also writes data to `os.Stdout` and is redirected to a file:
[code]
The progress bar is still printed to `os.Stderr` just fine, however there's now two problems:
1. The shell prompt on completion now doesn't start on a new line because the newline printed to `os.Stdout` has bee

[2022-07-25 01:00] NathanBaulch opened #124 "Trailing residual characters"
I occasionally see residual junk after my progress bar in situations when the total width decreases. This can happen when the description shrinks or when the timestamp wraps around (eg `1m59s` -> `2m0s`), but only when running in non-full width + ANSI code mode.

[code]

It looks like this is a regression introduced in commit [df9a997f0a](https://github.com/schollz/progressbar/commit/df9a997f0a284

[2022-07-25 02:42] NathanBaulch commented on #81
I ran into this problem too.
The solution above from @kirides almost works however it causes the `OptionSetRenderBlankState(false)` option to be ignored. I think a better approach is to simply have `RenderBlank` ignore throttling and always trigger a render. I can't imagine anyone would be abusing the API in a tight loop.

[2022-07-25 06:33] NathanBaulch opened #128 "Keep elapsed time when finished"
I'd like to keep the elapsed time visible once the progress bar finishes, just like the four example animations in the main README show. This seems to be the normal behavior in most popular CLI progressbar libraries I've found across various languages.

This change was introduced in commit [953dc78edb](https://github.com/schollz/progressbar/commit/953dc78edb41635497766a1199c553fb3bb87342) and rele

[2022-07-27 16:13] mih-kopylov opened #129 "Consume int for new progress bar"
When creating a new progress bar based on some collection length, it requires casting to `int64`.
[code]

Not really nice, though I understand why it's int64 there.

Is there a change to consume `int` aside of `int64`?

[2022-08-03 21:06] mih-kopylov opened #130 "[Bug] Console output after progress bar doesn't start with new line"
## Affected version
3.9.0

## Steps To Reproduce

Create the following code example
[code]

Run
[code]

Then run the example.

The result is
[code]

Then run
[code]

And run the example again.

The result is
[code]
Notice number of spaces before the `hello` word.

See the playground
https://go.dev/play/p/Tpiz7wA-E2g?v=goprev

[2022-08-07 23:43] schollz commented on #129
yeah seems like a job for generics, now that they are available. Would accept a PR for this

[2022-08-07 23:44] schollz commented on #128
Would accept a PR for this

[2022-08-25 06:08] mih-kopylov commented on #130
@schollz hey, any chance to get it fixed? It breaks the main functionality of the library in the last release.

[2022-08-25 15:38] schollz commented on #130
Happy to accept a PR for this

[2022-09-01 11:40] hexnaught commented on #130
@schollz cc @mih-kopylov

I have just opened a PR to resolve this. 👍

[2022-09-01 12:03] mih-kopylov commented on #130
Appreciate that @hexnaught

[2022-09-01 12:12] #130 closed

[2022-09-01 12:18] #128 closed

[2022-09-02 08:46] bodgit opened #135 "Latest release won't build on go <1.18"
As part of updating the dependencies, github.com/rivo/uniseg has been bumped from 0.2.0 to 0.3.4. Anything newer than 0.2.0 of this module now requires go 1.18 so your module sadly won't build on anything older now.

I just got a dependabot alert for the latest version of your module and noticed my tests for building on 1.17 failed. I guess the fix is either revert whatever pulled in the newer ver

[2022-09-03 14:20] schollz commented on #135
thanks @bodgit, I'd like to keep compatibility so I downgraded uniseg in 3.10.1 and will keep this in mind in the future.

[2022-09-03 14:20] #135 closed

[2022-09-09 14:30] #86 closed

[2022-09-30 13:01] amanenk opened #138 "Add an ability to avoid "/-" if no max value is set."
that would be nice to have an option of having something like below
`/ Syncing items... (24, 23 items/min) [1m2s]`
instead of
`/ Syncing items... (24/-, 23 items/min) [1m2s]`

[2022-10-05 15:35] schollz commented on #120
@rustiever Sure

[2022-10-06 15:17] schollz commented on #120
I think the goal of this PR is for optimization, so if mutex isn't optimal yes

[2022-10-07 04:41] rustiever commented on #120
do you have any idea how to support atomic operations on `float64`?

[2022-10-22 10:25] janpfeifer commented on #75
I was also having this issue, it seems the problem happens with p.config.userANSICodes is set to true only, since it clears the line after it was re-rendered for finish.

I  think simple removing lines 628-633 should solve the issue:

https://github.com/schollz/progressbar/blob/master/progressbar.go#L628

Notice that when not using ANSI Codes, the clearing happen before teh re-rendering, here:

ht

[2022-10-22 10:42] janpfeifer commented on #75
Simple 0.5 line fix, at least for the case with config.useANSICodes: https://github.com/schollz/progressbar/pull/140

[2022-10-29 19:40] jazzboME opened #141 "How to display all steps in spinner"
I'm trying this code:
[code]

And I'm expecting that each time it updates, it would move 1 step in the spinner, instead it just flops back and forth between 2 values. If I use spinners with more steps, 1 second intervals also seem to skip steps.

If I change the delay to be `time.Sleep(500 * time.Millisecond)` it does work and I see all 4 steps, but my proposed usage would be at 1 second intervals

[2022-11-21 19:23] djarbz opened #147 "ChangeMax not working"
I start my progress bar as indeterminate for the first query that retrieves the count.
Then I set the count as the new max, my log line does show the correct number.
The progress bar never changes from indeterminate to an actual progress bar.

Here is my setup.
[code]

And inside my loop.
[code]

[2022-11-27 08:10] CompeyDev commented on #54
Hey @schollz, it was mentioned that fractional percentages may be a solution:

Has this been implemented? If yes, how exactly do I utilize this? I am confused because as of now `Add()` does not accept floats of any kind.